@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui;
  --color-primary-500: #f97316; /* oranye */
  --color-primary-600: #ea580c;
  --color-gray-950: #111111;
}

.filament-main-sidebar {
  background-color: #111111 !important; /* sidebar jadi gelap */
}

.filament-header {
  background-color: #1e1e1e !important;
}
